@font-face {
  font-family: OpenSans;
  font-weight: 400;
  src: url("../assets/fonts/OpenSans-Regular.woff2") format("truetype"),
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  src: url("../assets/fonts/OpenSans-Medium.woff2") format("truetype"),
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  src: url("../assets/fonts/OpenSans-SemiBold.woff2") format("truetype"),
}
