@import 'variables';

html {
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: inherit;
  outline: none;
}

::before {
  box-sizing: inherit;
  outline: none;
}

::after {
  box-sizing: inherit;
  outline: none;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

:root {
  font-size: 10px;
}

.container {
  width: 100%;
  max-width: 784px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 990px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

input:focus {
  outline: none;
}

body {
  position: relative;

  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'OpenSans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
  color: $black-color;

  background-color: $blue-color-light;

  user-select: none;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;

  background: $gray-color;
  background-clip: padding-box;
}
