extends ./pug/pages/_pages

//- block content
//-     +header
//-     h2 This rewrite header from layout
//-     +categories
//-     +categories('Block computers')
//-     +footer

//-     +btn
//-     +btn('Add', 'dark')
//-     +btn-d
//-     +btn-group(['Left', 'Middle', 'Right'], 'dark')

//-     +btn-group
//-         +btn('1')
//-         +btn('2', 'success')
//-         +btn('3', 'dark')

//-     .col-3
//-         +card()
//-             prepand body
//-                 +img('node.png', 'node js', 'card-img-top')
//-             append body
//-                 +link('Card', '', 'btn-primary')

//-     +navbar
//-         +navbar-brand('JS')
//-         +nav('Home', 'navbar-nav flex-row')
//-         +btn('Sign in', 'dark')
